@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body{
	height: 100%;
}

body{
	font-family: monospace;
	display: grid;
	margin: 0;

	background-color: #000F19;
	color: #fff;
}

h1{
    font-weight: normal;
}

.padding-10{
	padding: 10px;
}

.text-right{
	text-align: right;
}

.container{
	display: grid;
	grid-template-columns: 250px auto;
}


.navigation{
	grid-column: 1;

	display: grid;
	grid-template-rows: 90px auto;

	text-align: right;
}

.navigation > nav{
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
	color:#fff;
}

a:hover,
a.active{
	color: #FC3563;
}

.content{
	grid-column: 2;
    padding: 0 3%;
}

.header{
	font-size: 2em;
	grid-row: 1;
	height: 100%;

	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about{
	grid-row: 2;
}

.menu{
	grid-row: 3;
}

.skill{
	font-weight: bold;
}

.skill.low{
	color: #f00;
}

.skill.medium{
	color: #ff0;
}

.skill.good{
	color: #0f0;
}

.terminal{
    word-break: break-all;
}

.terminal-user{
    color: #8ae234;
    display: inline-block;
}

.terminal-tilde{
    color: #7b9ecc;
}

.terminal-cursor{
    animation: cursor 1s step-end infinite;
    -webkit-animation: cursor 1s step-end infinite;
}

@-webkit-keyframes cursor{
    0%  { opacity: 1.0; }
    50% { opacity: 0.0; }
    100%{ opacity: 1.0; }
}

@keyframes cursor{
    0%  { opacity: 1.0; }
    50% { opacity: 0.0; }
    100%{ opacity: 1.0; }
}

@media (max-width: 700px){
	.container{
		display: flex;
		flex-direction: column;
	}

	.header{
		justify-content: center;
	}

	.navigation{
		text-align: center;
	}

	.navigation > nav{
		flex-direction: row;
	}

	.navigation > nav > a {
		flex-grow: 1;
	}
}
