@font-face{
	font-family: pixelTitle;
	src: url(../fonts/UpheavalPro.ttf);
}

@font-face{
	font-family: pixel;
	src: url(../fonts/FreePixel.ttf);
}

*{
	margin: 0px;
}

html, body{
	width: 100%;
	height: 100%;
	background: rgb(250,250,250);
	color: #000;
	overflow: hidden;
	font-family: "pixel";
	position: absolute;
	top: 0;
}

a{
	text-decoration: none;
	color: #f4a408;
}

a:hover{
	text-decoration: underline;		
}

iframe{
	border: none;
	width: 800px;
	height: 600px;
}

h1, h2, h3, h4, h5, h6{
	padding: 1% 0;
	font-family: "pixelTitle";	
	font-size: 45px;
}

footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #000000;
}

.bold{
	font-family: "pixelTitle";
	font-size: 20px;
}

.sliderButton{
	width: 40px;
	height: 40px;
	border: 4px solid #000000;
	background: white;
	font-family: "pixelTitle";
	background: #f4a408;
	color: #000000;
	cursor: pointer;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.sliderButton:hover{
	width: 50px;
	height: 40px;
	border: 4px solid #000000;
	background: white;
	font-family: "pixelTitle";
	background: #ea7c14;
	color: #000000;
	cursor: pointer;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}

#menu{
	padding-top: 15%;
	background: rgb(250,190,00);
	position: absolute;
	top:0;
	left: 0;
	width: 15%;
	height: 100%;
	font-family: "pixelTitle";
	font-size: 40px;
	z-index: 1;
}

#menu div{
	width: 80%;
	padding: 5%;
	color: black;

	-webkit-transition: all ease 0.25s;
	-moz-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

#menu div:hover{
	background: #000000;
	width: 100%;
	color: #f4a408;

	-webkit-transition: all ease 0.25s;
	-moz-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

#menu a:hover{
	text-decoration: none;		
}

#menu ul a{
	text-decoration: none;
}

.screen-out{
	top: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.screen{
	margin-left:15%;
	padding: 1%;
	width: 85%;
	height: 100%;
	position: absolute;
	top: 100%;


}

.screen-active{
	top: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.content{
	text-align: center;
}

canvas{
	border: 1px solid #ffffff;
}

.imgShower{
	margin-left: 50%;
	position: relative;
	left: -400px;
	width: 800px;
	height: 50px;
	background: #000;
	
	background-repeat: no-repeat;
	-webkit-transition: all 0.25s ease;
	-webkit-filter: grayscale(100%);
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.imgShower:hover{
	height: 400px;

	-webkit-filter: grayscale(0%);
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.imgShower .imgDescription{
	width: 790px;
	height: 50px;
	padding: 0px 5px;
	background: #000;
	opacity: 0.5;
	color: #fff;
}
#home div, #contact div{
	width: 600px;
	margin-left: 50%;
	position: relative;
	left: -300px;
}

#games div{
	width: 800px;
	margin-left: 50%;
	position: relative;
	left: -400px;
}