@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body{
	height: 100%;
}

body{
	font-family: monospace;
	display: grid;
	margin: 0;

	background-color: #000F19;
	color: #fff;
}

.padding-10{
	padding: 10px;
}

.text-right{
	text-align: right;
}

.container{
	display: grid;
	grid-template-columns: 200px auto;
}


.navigation{
	grid-column: 1;

	display: grid;
	grid-template-rows: 90px auto;
}

.navigation > nav{
	display: flex;
	flex-direction: column;
}

.navigation > nav > a{
	text-decoration: none;
	color:#fff;
}

.navigation > nav > a:hover{
	color: #FC3563;
}

.content{
	grid-column: 2;
}

.header{
	font-size: 2em;
	grid-row: 1;
	height: 100%;

	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about{
	grid-row: 2;
}

.menu{
	grid-row: 3;
}

.skill{
	font-weight: bold;
}

.skill.low{
	color: #f00;
}

.skill.medium{
	color: #ff0;
}

.skill.good{
	color: #0f0;
}