:root {
    --background-color: #1d2021;
    --background-color-2: #32302f;
    --font-1: #fbf1c7;
    --font-2: #ebdbb2;
    --font-3: #d5c4a1;
    --font-4: #bdae93;
    --font-5: #a89984;
    --links:  #fabd2f;
}

/* Segoe UI font-family definitions (for windows) */
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

* {
    margin: 0;
    font-family: "Helvetica", "Open Sans", "Segoe UI", sans-serif;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--background-color-2);
    margin: 2em 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--font-5);
}

a {
    color: var(--links);
}

li {
    margin-bottom: 0.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0.25em;
}

h1 {
    font-size: 3em;
    color: var(--font-1);
}

h2 {
    font-size: 2em;
    color: var(--font-2);
}

h3 {
    font-size: 1.5em;
    color: var(--font-3);
}

h4 {
    font-size: 1.25em;
    color: var(--font-4);
}

h5 {
    font-size: 1.125em;
    color: var(--font-5);
}

h6 {
    font-size: 1em;
    color: var(--font-5);
}

p {
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

.w-800 {
    width: 800px;
}

.pt-1em { padding-top: 1em; }
.ps-2em { 
    padding-left: 2em;
    padding-right: 2em;
}

.mb-q-em { margin-bottom: .25em; }
.mb-h-em { margin-bottom: .5em; }
.mb-1-em { margin-bottom: 1em; }
.mb-2-em { margin-bottom: 2em; }

.bold { font-weight: bold; }
