.screen{
	position:absolute;
	top:100%;
	left:0;
}

.screen-true{
	position:absolute;
	top:0;
	left:0;	

	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.screen-false{
	
}